html, body {
	background: #f2f2f2;
}


#main {
	margin:15px 0 50px
}

table {
	width:100%;
}

.movie {
	padding: 20px 0;
	background: white;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,.1);
	border-bottom: 1px solid #eee;
}

.movie.empty {
	text-align:center;
}

.movie.inqueue{
	background:orange;
}

.movie .poster {
	text-align: center;
}

.movie ul span {
	font-weight:900;
}

.movie .unqueue-movie, .movie .enqueue-movie {
	padding:0.65rem 1rem;
}
.movie .unqueue-movie i, .movie .enqueue-movie i {
	font-size: 20px;
	text-shadow: 0px 2px 0px rgba(0,0,0,.25);
}


/* Dealing with Foundation's Madness */

.title-area .name {
	text-transform: uppercase;
	letter-spacing: 1em;
	font-weight: 100;
}

.top-bar input {
    height: auto;
    padding-top: .35rem;
    padding-bottom: .35rem;
}

.top-bar-section ul li > .active {
	font-weight:bold;
}

.top-bar .toggle-topbar.menu-icon a span {
	height: 2px;
}

.movie .inline-list {
	font-size:.9rem;
}

h1 {
	font-size: 2rem;
	font-weight: 100;
}
